body {
    font-family: 'helvetica';
    font-size: 16px;
    color: seashell;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    position:fixed;
    background-color: black;
}

header img {
    height: 50px;
    width: auto;
}

header ul {
    border-right: 3em solid black;
}

header li {
    display: inline-flex;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.navigation a {
    color: seashell;
    font-weight:700;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:hover, a:active {
    background: #506e9b;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    text-shadow: 2px 2px black;
}

.navigationeader a:visited {
    color: seashell;
    font-weight:700;
    text-decoration: none;
    text-transform: uppercase;
}

.banner1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    background-image: url(./img/ishgard.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner1 ul {
    list-style-type: none;
}

#center-text {
    color: black;
    font-weight: 800;
    font-size: 70px;
    text-shadow: 2px 2px seashell;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 30px;
    text-decoration: none;
}

#reservation a {
    background: #81a4da;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    font-size: 30px;
    text-decoration: none;
    color:black;
    font-weight: 700;
    padding: 10px 20px;
}


#reservation a:hover, a:active{
    background:black;
    color: seashell;
    transition: 0.5s;
}

.banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #6582ac;
    color: black;
    padding: 40px 0px; 
}

.banner2 h2 {
    font-size: 40px;
    line-height: 0.5;
}

.banner2 h4 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.blockquote {
    max-width: 600px;
    margin: 10px 30px;
    padding: 25px;
    background: #8da7cc;
    border: 1px solid #556a8a;
    box-sizing: border-box;
}

.blockquote--bordered {
    border-left-width: 10px;
}

.blockquote__text {
    font-style: italic;
    font-size: 1.7em;
    line-height: 0.3;
    font-weight: 400;
}

.blockquote__text--credit {
    font-weight: bold;
    font-style: normal;
}

.blockquote__text--credit::before {
    content: "\2014\0020"
}

.blockquote img {
    height: 40px;
    width: auto;
}

.banner2 h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 2px;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cube1 {
    color: seashell;
    background: black;
    padding-top: 30px;
}

#map {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 400px;
}

.loc {
    font-size: 25px;
    font-weight: 500;
    line-height: 0.5;
}

.title {
    font-size: 30px;
}

.cube2 {
    font-size: 0px;
    background-image: url(./img/coq.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0px;
}

.cube3 {
    font-size: 0px;
    background-image: url(./img/vege.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0px;
}

.cube4 {
    color: seashell;
    background: black;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    border-top: 4px solid #6582ac;
    border-bottom: 4px solid #6582ac;
    height: auto;
    background: #81a4da;
    display: flex;
    flex-direction: column;
    color: black;
    line-height: 0.2;
}

#copyright {
    align-items: start;
}